button {
  cursor: pointer;
  background-color: #212121;
  border: none;
}
  
svg {
  filter: invert(80%);
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.button-row {
  gap: 0.5em;
  margin-bottom: 1em;
}